/* Extra small devices (phones, 600px and down) */
.about2 .sec-title {margin-bottom: 0;}
.sec-title h2 {padding-bottom: 0; margin-bottom: 0;}
.about-ul ul {margin-bottom: 0;}

@media screen and (max-width: 1024px) {
.footer-top { padding: 60px 0 60px 0;}
.about-ul ul {margin-bottom: 0;}


}

@media screen and (max-width: 990px) {
.about2 .sec-title { margin-bottom: 0;}
.sec-title h2 {padding-bottom: 0;}
.footer-top {padding: 60px 0 60px 0;}
.about2 .section-title h1 {margin: 0px 0 0px 0;}
.about2 .sec-title { margin-bottom: 0px;}
.sec-title h1 {margin: 0px 0 0px 0;}
body .m-v-cal {justify-content: flex-start !important;}
.sec-title {margin-bottom: 0px;}
.new-job-card .job-detail-buttons { min-height: auto!important;}
.new-job-card .job-card-title { height: auto!important;}
body .new-job-card { min-height: auto !important;}
}


@media only screen and (max-width: 600px) {
.about2 .section-title h1 {margin: 0px 0 0px 0;}
.about2 .sec-title {    margin-bottom: 0;}
.about2 .sec-title h2 {padding-bottom: 0;margin: 0px 0 0px 0;}
.about-ul ul { background: #121212; padding: 15px 0px; margin-bottom: 0; padding-bottom: 0}
.about-ul li {font-size: 15px; line-height: 22px;}
.about-ul {margin-bottom: 0;}
body .footer-top {padding-bottom: 0!important}
.section-title {margin-bottom: 0;}
.footer-top .footer-column {margin-bottom: 0;}
.sec-title h1 {margin: 0px 0 0px 0;}
body .m-v-cal {justify-content: flex-start !important;}
.contact-form-wrap {margin-top: 50px; margin-bottom: 60px;}
.new-job-card .job-detail-buttons { min-height: auto!important;}
.new-job-card .job-card-title { height: auto!important;}
body .new-job-card { min-height: auto !important;}



.subsub-menu {
    display: none;
    position: relative;
    left: -16px;
    background: #ffffffd9;
    width: 275px;
    top: 10px;
}
    .bg-video-wrap video {
    min-width: 100%;
    /* min-height: 70vh; */
    z-index: 1;
    display: none;
}
    .about-section {
    background: #000000e6;
}
    .section-padding {
    padding: 30px 0 !important;
}
.card .banner img {
    transform: translateY(10%);
}
.card {
   justify-content: space-evenly;
   height: 295px !important;
}
.card .actions {
    padding: 0rem 1.2rem;
  
}
.card h3.name{
    margin-top:0px !important;
    margin-bottom:0px !important;
} 
.card .banner img {
    background-color: #fff;
    background-color: #fff;
    /* width: 8rem; */
    /* height: 8rem; */
    padding: 12px;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 12%);
    border-radius: 50%;
    transform: translateY(10%);
    transition: transform 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
    border: 1px solid #ffffff;
}   
  .portfolio  .section-title{
        margin-bottom:-12px;
        text-align:center;
    }
    .cursor2{
    display:none;
}
.cursor{
    display:none;
}
   .center-font  .title-header h2{
        text-align:center !important;
    }
   .center-font .title-desc p{
        text-align:center;
    }
    .for-full{
        display:none;
    }
    .for-mobile{
    display:block;
}
    .clients .clients-logo {
    opacity: 1;
    line-height: 0;
    border: 1px solid #b5b3b31f;
    padding: 0px 2px;
    margin-bottom: 16px;
     box-shadow:none; 
}
    .bg-sec{
        display:none;
    }
    body{
        overflow-x:hidden;
    }
    .logo-img {
    width: 94px;
    margin-bottom: 0px;
}
.logo-wrapper {
    padding-top: 0;
}
.nav-scroll .logo-wrapper{
       padding-top: 0; 
}
.nav-scroll .logo-img {
    width: 100px;
    margin-bottom: 0px;
}
.main-banner {
    margin-top: 54px;
}
.banner-text h1{
    font-size:25px;
}
.welcome-text p {
    color: #fff;
    font-size: 14px;
}
.banner-text {
   bottom:15%;
    left: 35px;
   
}

.main-banner.owl-theme .owl-nav [class*=owl-]{
    background:transparent;
    padding:0;
}
.capabilities-sec {
    margin-left: 0px !important;
    margin-bottom:45px;
    
}
.capabilities-sec .text h3{
    font-size:25px;
}
.big-txt{
    font-size:35px;
        margin-bottom: 35px;
}
.section-title h2.title{
    font-size:33px;
}
.section-title h2 {
    margin-bottom: 0;
}
 video.about-video {
    min-height: 100%;
}

video.about-video {
    position: absolute;
    width: auto;
    display: none;
}
video.about-video2 {
    
    width: 100%;
}
.text.about-text li h3{
    justify-content:center;
}
.text.about-text li p{
    text-align:center;
}
.team-img{
    margin-bottom:0px !important;
}
.secont-sec{
   align-items: center !important;
}
.florya-gallery-filter {
    /* width: 100%; */
    padding-bottom: 30px;
    padding-left: 0px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.testimonials h2 {
    width:100%;
    font-size: 25px;
    color: #fff;
}
.address-card{
    margin-top:65px;
}
.footer-top{
    padding-bottom:10px;
}
.service-img{
    margin:5px 10px;
}
.navbar .navbar-nav .active {
    color: #000000 !important;
    font-weight: bolder;
}
.wt-bnr-inr {

    padding: 90px 0 55px 0;
    background-size: cover !important;
   
}
div.banner-title-name h2{
    font-size:22px;
}
/*.florya-masonry-wrapper {*/
/*    margin-left: 15px;*/
/*    margin-right: 15px;*/
/*}*/
.head-sec .section-title {
    font-size: 25px;
    
}
.img-of-head {
    margin-right: 80px;
}
.img-of-head {
    width: 155px;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #toggleContainer{
        display:none;
    }
    .dropdown-item:hover .subsub-menu {
    display: block;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
      video.about-video {
    
    width: auto;
}
.card {
    margin-top:60px;
}
video.about-video.about-video2 {
    width: 100%;
    /* top: 10px; */
    position: static;
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    video.about-video {
     width: 100%; 
}
video.about-video.about-video2 {
    width: 100%;
  
}
}



@media screen and (max-width: 767px) {
.desktop-menu { display:none; }
.mobile-nav { display:block; }
body .footer-top {padding-bottom: 0 !important;}
.about2 .section-title h1 {margin: 0px 0 0px 0;}
.about2 .sec-title {    margin-bottom: 0;}
.about2 .sec-title h2 {padding-bottom: 0;margin: 0px 0 0px 0;}
.about-ul ul { background: #121212; padding: 15px 0px; margin-bottom: 0; padding-bottom: 0}
.about-ul li {font-size: 15px; line-height: 22px;}
.about-ul {margin-bottom: 0;}
body .footer-top {padding-bottom: 0!important}
.section-title {margin-bottom: 0;}
.footer-top .footer-column {margin-bottom: 0;}
}

 
/* MOBILE MENU CSS START */
/* MOBILE MENU CSS START */
/* MOBILE MENU CSS START */

.mobile-nav {display:none;}


/*@media screen and (max-width: 991px) {*/
    
/*    .desktop-menu{display:none;}*/
/*    .mobile-nav{display:block;}*/
    
/*} */
    
/* Menu Controls */

.mobile-nav .logo {color:#fff;font-size:2.1rem;padding: 0.45rem 1rem;position:absolute;}

.mobile-nav .menu-button {color:#fff;cursor:pointer;font-size: 1.3rem;padding: 0.75rem 20px;position:fixed;right:0;}

.mobile-nav .open-menu {
color:#fff;
cursor:pointer;
font-size:1rem;
padding:1rem;
position:absolute;
right:0;
top:0;
transition:transform 250ms ease;
}

.mobile-nav .rotate { transform:rotate(135deg); }


/* Generated Overflow Element */

.mobile-nav .overflow {
margin-top:57px;
overflow-x:hidden;
overflow-y:auto;
}


/* Menu Styles */

#mobile-nav {background-color:#2b2f2f;position:fixed;width: 100%;overflow: hidden;z-index: 9;}

#mobile-nav ul {
background-color:rgba(0,0,0,.1);
display:none;
margin:0 1rem;
padding:0;
position:relative;
}

#mobile-nav ul:first-child {
background-color:transparent;
}

#mobile-nav ul li {
border-top:1px solid rgba(255,255,255,.075);
list-style:none;
margin-bottom:0;
position:relative;
}

#mobile-nav ul li a {
color:#fff;
display:inline-block;
font-size:1rem;
padding:1rem 0;
text-decoration:none;
width:100%;
}

#mobile-nav ul ul {
margin:0;
}

#mobile-nav ul ul li {
border-top:none;
padding-left:1rem;
}
    

/* MOBILE MENU CSS END */
/* MOBILE MENU CSS END */
/* MOBILE MENU CSS END */


#mobile-nav {
    display: none;
}

/* Styles for screens less than 525px */
@media (max-width: 525px) {
    #mobile-nav {
        display: block;
    }
}
