

.our-values {
   padding: 40px 0;

    .our-values-he {
        h2 {
           @include h2-tag;  color: #ffffff; margin-bottom: 20px;
        }
    }
   .our-values-sec {
    display: flex;justify-content: center;
   }
    .our-values-box {
        background-color: var(--bg-white); padding: 20px; border-radius: 15px; margin-bottom: 25px;
        .our-values-img {margin-bottom: 25px; position: relative; width: fit-content;
            img {width: 60px;}
            &:after { content: ''; position: absolute; background-color: #505085;width: 100%; height: 2px;
                bottom: -15px;left: 0;}
        }
        P { @include p-tag;line-height: 22px;font-size: 18px;margin-bottom: 0; min-height: 67px; }
    }
}


.leadership-team {
    @include section-padding;
    .leadership-team-he {
       h2 {@include h2-tag; margin-bottom: 30px; }
       p {@include p-tag; line-height: 28px; font-weight: 500;}
    }
    .leadership-team-section { margin: 30px 0;    display: inline-block;
        &:last-child {margin-bottom: 0;}
     .leadership-team-img {width: fit-content;border: 1px solid #000; border-radius: 8px; overflow: hidden;
            img {max-width: 100%;}
        }
     .leadership-team-contant {
        height: 205px;overflow-y: auto;padding-right: 15px;
        /* width */
&::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  &::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
        
        p {@include p-tag; line-height: 25px;padding-left: 25px; font-weight: 400; }
    }
    }
}


.clinical-advisors {
    @include section-padding; padding-top: 0; padding-bottom: 40px;

    .clinical-advisors-he {
        h2 { @include h2-tag; margin-bottom: 15px; }
        p { @include p-tag; line-height: 28px; font-weight: 400; margin-bottom: 0; }
    }
    .clinical-advisors-tab {
        .nav-pills {
            margin: 15px 0!important;
            .nav-item {
                .nav-link {
                    font-weight: 600;
                    border: 1px solid #505085;
                    font-size: 20px;
                    line-height: 18px;
                    color: #202020;
                    border-radius: 18px;
                    margin: 10px 10px;
                    padding: 12px 45px;
                }
                .nav-link.active {
                    background-color:#505085; color: #ffffff;
                }
            }
        }

        .tab-content {
            .clinical-advisors-detail {
                .clinical-advisor-img {display: flex; align-items: center;height: 100%;
                    img {
                        max-width: 100%; width:90%;
                    }
                }
                h4 {
                    @include h4-tag; font-weight: bold; margin-bottom: 20px
                }
                p {
                    @include p-tag;height: 250px; overflow: auto; padding-right: 15px;

                    &::-webkit-scrollbar {
                        width: 5px;
                      }
                      
                      /* Track */
                      &::-webkit-scrollbar-track {
                        background: transparent; 
                      }
                       
                      /* Handle */
                      &::-webkit-scrollbar-thumb {
                        background: #888; 
                      }
                      
                      /* Handle on hover */
                      &::-webkit-scrollbar-thumb:hover {
                        background: #555; 
                      }
                }
            }
        }
    }
}


.why-awinsa {
    @include section-padding; background-size: cover;
     
    .why-awinsa-contant {
        h2 {
            @include h2-tag; color: #ffffff; margin-bottom: 20px;
        }
         h3 {color: #ffffff;}
        p {
            @include p-tag; color: #ffffff;
        }
    }
}


.expedited-reporting {
    @include section-padding;

    .expedited-reportin-text {
        h2 {
            @include h2-tag;  margin-bottom: 25px;
        }

        p {
            @include p-tag;  margin-bottom: 35px;
            &:last-child {
                margin-bottom: 5px;
            }
        }
    }
}





// responsive


@media screen and (max-width:1199px) {
    .clinical-advisors .clinical-advisors-tab .nav-pills .nav-item .nav-link {margin: 8px;
        padding: 15px 25px;}
        .clinical-advisors {padding-top: 0;}
}

@media screen and (max-width:1024px) {
 .our-values .our-values-box P {  font-size: 16px; }
 .clinical-advisors .clinical-advisors-tab .tab-content .clinical-advisors-detail p { font-size: 15px;}
 .clinical-advisors .clinical-advisors-tab .tab-content .clinical-advisors-detail h4 { font-size: 15px;}
 .clinical-advisors .clinical-advisors-tab .nav-pills .nav-item .nav-link {
   font-size: 15px; margin: 4px; padding: 10px 20px;}

}



@media screen and (max-width:767px) {
    .leadership-team {
        .leadership-team-section {
            .leadership-team-img {
                margin-bottom: 20px;
            }
            .leadership-team-contant {
              
                p {
                    padding-left: 0;
                }
            }
        }
    }

.clinical-advisors {
    .clinical-advisors-he {
        h2 {margin-bottom: 10px;  }
    }
    .clinical-advisors-tab {
        .nav-pills {
            .nav-item {
                .nav-link {
                    margin: 5px; padding: 10px 15px;font-size: 11px; line-height: 18px;
                }
            }
        }

        .clinical-advisor-contant {margin-top: 20px;}
    }


}
.clinical-advisors .clinical-advisors-tab .tab-content .clinical-advisors-detail h4 {
    font-size: 10px;}
.clinical-advisors .clinical-advisors-tab .tab-content .clinical-advisors-detail p {
        font-size: 12px; }
}
