.video-slider-rotate-dv {
    position: relative;

    &::before {
        // background-image: url('../images/banner-back-bg.png');z-index: 1;
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background-color: #0f0f40c7;
    }
}
.up-footer-1 img {max-width: 85%;}
.head-nav-items-dv {
    display: flex;

    .desktop-hamburger {


        .menu-icon {
            padding: 0px 0;

            a {
                color: #fff;
                font-weight: 600;
                font-size: 11px;

                .fa-bars {
                    font-size: 1.5rem;
                    color: #ffffff;
                }
            }
        }
    }

    li {
        @include li-tag;
      
        // padding: 6px 28px;
        margin: 0px 16px;
        border: 1px solid white;
        border-radius: 16px;
        transition: all 0.5s;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        // position: relative;

        a {
            font-size: 14px;
            color: #FFFFFF;

            padding: 0px 18px;

        }

        &:hover {
            background-color: #BFBFFF70;
            border: 1px solid #FFFFFF;
            border-radius: 4px;
            transition: all 0.5s;  
        }
    }
}

.contact-nav-li {
    background-color: #fff;

    &:hover {
        border: 1px solid transparent !important;
    }

    &:hover span {
        border-left: 1px solid #fff;
    }

    a {
        padding: 0px 6px !important;
        position: relative;
        color: #505085 !important;
        // &::before {
        //     content: "";
        //     position: absolute;
        //     right: 0px;
        //     top: 0px;
        //     height: 100%;
        //     width: 2px;
        //     background-color: #fff;

        // }
        &:hover {
            color: #fff !important;
            transition: all 0.5s;
        }

        span {
            border-left: 1px solid #505085;
            margin-left: 10px;
            /* margin: 0px 16px; */

            i {
                padding: 0px 10px;
            }
        }
    }


}

.banner-video-sec {
    overflow-x: hidden;
    position: relative;
}

.video-slider-rotate-dv {
    height:100% !important;
    position: relative;


}

.video-slider-content-prnt-dv {
    position: absolute !important;
    bottom: 20% !important;
    text-transform: uppercase;
    z-index: 1;

    h1 {
        font-size: 54px;
        // color: #505085;
        color: #ffffff;
        font-weight: bold;
    }
}

// .banner-video-sec:before {
//     content: '';
//     background-color: #000000;
//     width: 100%;
//     height: 100%;
//     position: absolute;
//     opacity: 0.1;
// }
.video-slider-outer-dv {
    // content: '';
    // background-color: #000000;
    // width: 100%;
    // height: 100%;
    // position: absolute;
    // opacity: 0.9;
    overflow-x: hidden;
}

.onScreencapVideo {
    width: 100%;
}

// .banner-video-sec:before {
//     content: "";
//     background-color: #000000;
//     width: 100%;
//     height: 100%;
//     position: absolute;
//     opacity: 0.3;
// }

.header-sec {
    position: absolute;
    width: 100%;
    top: 10px;
    z-index: 9;
    overflow-x: hidden;
}

// video dots css 

.slick-dots {
    position: absolute;
    bottom: 60px;
    left: 120px;

    button {
        display: none !important;
    }

    li {
        background-color: transparent;
        /* border: navajowhite; */
        font-size: 0px;
        border-radius: 100%;
        border: 1px solid #fff;
        width: 13px;
        height: 13px;
        margin-right: 7px;

        // &:active {

        //     border-radius: 100%;
        //     border: 1px solid #fff;
        //     width: 13px;
        //     height: 13px;
        //     background-color: #505085 !important;
        //     font-size: 0px;
        // }

    }

    .slick-active {
        border-radius: 100%;
        border: 1px solid #fff;
        width: 13px;
        height: 13px;
        background-color: #505085 !important;
        font-size: 0px;
    }
}

//who-we-are

.who-we-are {
    @include section-padding;

    .who-heading {
        h2 {
            @include h2-tag;
        }

        p {
            @include p-tag;
        }
    }

    .who-spration {
       
    }

    .who-we-img {
        width: fit-content;
        position: relative;

        &:before {
            content: "";
            position: absolute;
            background-image: url(../images/trangle.png);
            width: 210px;
            height: 236px;
            right: 0;
            transform: rotate(90deg);
            top: -18px;
        }

        img {
            max-width: 94%;
            margin: 17px;
            position: relative;
            z-index: 1;
        }
    }

    .who-we-contant {
        @include align-center;

        .who-p-contant {
           

            p {
                @include p-tag;
                margin-bottom: 8px;
                color: #202020;

            }
        }

    }
}

//who-we-are


//our-services

.our-services {
    padding: 40px 0;
    background-color: #505085;

    .our-services-heading {
        h2 {
            @include h2-tag;
            color: #ffffff;

        }

        p {
            @include p-tag;
            color: #ffffff;  font-size: 18px;line-height: 22px;


        }
    }

    .our-services-tabing {
        .tab-width {
            width: 20%;

            .slider-2 {
                .slick-list {
                    // border-bottom: 1.4px solid #a5a5af;
                }
                 .slick-disabled {opacity: 0;}
                .slick-prev {
                    width: 22px;
                    height: 22px;
                    position: absolute;
                    top: -33px;
                    background-color: transparent;
                    font-size: 0;
                    border: none;
                    background-image: url(../images/scroll-slider-arow-.svg);
                    left: 0;
                    transform: rotate(180deg);background-size: 100%;
                    background-repeat: no-repeat;
                }

                .slick-next {
                    width: 22px;
                    height: 22px;
                    position: absolute;
                    bottom: -45px;
                    background-color: transparent;
                    font-size: 0;
                    border: none;
                    background-image: url('../images/scroll-slider-arow-.svg');
                    left: 0;background-size: 100%;
                    background-repeat: no-repeat;
                }

                .nav-link {
                    text-align: left;
                    color: #a5a5af;
                    padding: 8px 0;
                    border-bottom: 1px solid #a5a5af;
                    border-radius: 0;
                    width: 230px !important;
                }

                .nav-link.active {
                    background-color: transparent;
                    color: #ffffff;
                }
            }

        }

        .tab-content {
            width: 80%;
            display: flex;
            justify-content: end;

            .tabing-section {
                position: relative;

                .tabing-img {
                    position: relative;
                    text-align: right;
                    width: fit-content;

                    &:after {
                        content: '';
                        background-image: url(../images/tabing-bg.png);
                        width: 94%;
                        height: 93.1%;
                        position: absolute;
                        right: 17px;
                        z-index: 1;
                        top: 17px;
                        background-size: cover;
                    }

                    img {
                        max-width: 94%;
                        margin: 17px;
                        position: relative;
                        z-index: 1;
                    }

                    &:before {
                        content: '';
                        position: absolute;
                        background-image: url('../images/white-patch.png');
                        width: 210px;
                        height: 236px;
                        top: 0;
                        right: 0;
                        z-index: 0;
                    }

                }

                .tabing-contant {
                    right: 25px;
                    width: 90%;
                    position: absolute;
                    bottom: 30px;
                    z-index: 1;

                    p {
                        font-size: 16px;
                        color: #ffffff;
                    }

                    a {
                        @include a-tag;
                        color: #ffffff;
                    }
                }
            }
        }
    }
}

//our-services


//news 

.news {

    @include section-padding;

    .news-outer-slider-div {
        .slick-arrow {font-size: 0; border: none;background-color: transparent;}
        .slick-prev {position: absolute; left: 0;top: 0;height: 10px;bottom: 0;margin: auto;
            &:after {position: absolute;content: ''; background-image: url('../images/arow.png'); width: 28px; height: 28px;
                left: -15px;transform: rotate(180deg); }
        }
        .slick-next {position: absolute; right: 0;top: 0;height: 10px;bottom: 0; margin: auto; 
            &:after {position: absolute;content: ''; background-image: url('../images/arow.png'); width: 28px; height: 28px; }
        }

        }
  
   
    .news-heading {
        margin-bottom: 44px;

        h2 {
            @include h2-tag;
        }
    }

    .news-box {
        background-color: #6DA1CC1C;
        padding: 20px;
        border-radius: 10px;
        margin: 0px 15px;

        img {
            max-width: 100%;
        }

        h4 {
            @include h4-tag;
            font-weight: 600;
            margin-bottom: 18px;
            margin-top: 15px; min-height: 55px;
            overflow: hidden;
        }

        p {
            font-size: 16px; height: 145px;
            overflow: hidden;
            color: #000000;
        }

        a {
            @include a-tag;
            font-size: 18px;
            color: #505085;
            font-weight: bold;display: flex;
            align-items: center;
            img {margin-left: 5px;}
        }
    }
}

//news


// counter section 

.expertise-count-sec{
    background-image: url('/awinsa/assets/images/count-sec-bg-img.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 496px;
    padding: 58px 0px;


    .counter-heading {
        h2 {
            @include h2-tag;
            color: #ffffff;
            font-weight: 400;
        }
    }
    .counter-items-prnt-dv{
display: flex;justify-content: space-around; align-items: center;padding-top: 68px;text-align: center;
        h6
        {
            color: #fff;
            font-size: 34px;
            padding: 50px 0px 5px 0px;
        font-weight: 400;
        }
        
        p
        {
            color: #fff;
            font-size: 18px;
        }
    }
}


// counter section



//video-library

.video-library {
    .video-library-heading {
        h2 {
            @include h2-tag;
        }
    }

    .video-library-slider {
        margin-top: 40px;

        .video-detail {
            cursor: pointer;
        }

        .slick-prev {
            left: 0;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            height: 26px;
            width: 26px;
            background-color: transparent;
            background-image: url('../images/Pointer.png');
            border: none;
            font-size: 0;
        }

        .slick-next {
            right: 0;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            height: 26px;
            width: 26px;
            background-color: transparent;
            background-image: url('../images/Pointer.png');
            border: none;
            font-size: 0;
            transform: rotate(180deg);
        }
    }

    #kaurukavideo {
        .lazy-v {margin-bottom: 50px;
            iframe {margin-top: 50px;  height: 600px;   width: 100%;}
            

        }
    }
}

//video-library


//testimonial

.testimonial {
    @include section-padding;
    background-color: #505085;

    .testimonial-heading {
        h2 {
            @include h2-tag;
            color: #ffffff;
        }
    }

    .testimonial-slider {
        background-color: #7f7fa6;
        width: 70%;
        margin: 50px auto;
        padding: 70px 70px;
        border-radius: 10px;

        .testimonial-contant {
            text-align: center;

            p {
                color: #d7d7e4;
                font-size: 18px
            }

            h4 {
                @include h4-tag;
                color: #ffffff;
                font-weight: bold;
            }

            h5 {
                @include h5-tag;
                color: #d7d7e4;
            }
        }

        .slick-dots {
            display: flex;
            align-items: center;
            position: absolute;
            bottom: -30px;
            right: -8px;
            left: inherit;

            li {
                background-color: #8181c2;
                border: none;
                font-size: 0px;
                border-radius: 100%;
                width: 10px;
                height: 10px;
                margin-right: 7px;
            }

            .slick-active {
                width: 25px;
                height: 3px;
                border-radius: 0;
                background-color: #64648d !important;
                border: none;
            }
        }

    }
}

//testimonial



//upper-footer
.upper-footer {box-shadow: 10px 0px 6px #00000094;  background-color: #ffffff;  position: relative;
    z-index: 1;

    .up-footer-1 {
        display: flex;
        align-items: center;
        height: 100%;

        .img-ro {
            background-image: url(../images/Path-204.svg);
            width: 125px;
            height: 96px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-repeat: no-repeat;
        }

        .ro-text {
            margin-left: 10px;

            p {
                font-size: 27px;
                color: #b7b7b7;
                margin-bottom: 0;
            }

            a {
                font-size: 27px;
                color: #000000;
                outline: 0;
            }
        }
    }
}

//upper-footer

//footer
footer {
    ul {
        display: block;
    }

    background-color: #505085;
    padding: 53px 0;

    .footer-col {
        .newsletter {
            .mb-3 {
                input {padding-left: 0; color: #ffffff;
                    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff!important;
    border-radius: 0 !important;

    &:-ms-input-placeholder { /* Edge 12-18 */
        color: #fff!important;
      }
      
      &::placeholder {
        color: #fff!important;
      }
                }
            }
            form {display: flex;}
            .input-group {align-items: center;}

            input {
                padding: 13px;
              
            }
        }

        ul {
            li {
                a {
                    font-size: 16px;
                    color: #ffffff;
                    font-weight: 300;
                    margin-left: 0px; line-height: 25px
                }
            }
        }

        h4 {
            @include h4-tag;
            color: #ffffff;
            font-weight: 400;
           
            padding-bottom: 10px; position: relative;
            &:after {content: ""; position: absolute;background-color: #b7b7b7;  height: 1px;
                width: 100%;left: 0;bottom: 0;}
        }
        .address {
            &:after {content: ""; position: absolute;background-color: #b7b7b7;  height: 1px;
                width: 50%;left: 0;bottom: 0;}
        }

        p {
            font-size: 18px;
            color: #ffffff;
            font-weight: 300;    margin-bottom: 25px;
        }

        .address-icon {
            img {
             
            }

        }

        .address-content {
            font-size: 16px;
            color: #ffffff;
            font-weight: 300;
            margin-left: 10px;
        }
    }
}

//footer


//copyrigh
.copyright {
    padding: 10px 0;
    background-color: #5b5b8a;

    .copyright-text {
        text-align: right;

        p {
            font-size: 16px;
            color: #FFFFFF;
            margin-bottom: 0;

            a {
                font-size: 16px;
                color: #FFFFFF;
            }
        }
    }
}

//copyrigh

.video-library {padding-top: 40px;}

.video-library-slider .slick-slide {

    color: #FFF;

    margin: 0 15px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0.8);
    transition: all 0.4s ease-in-out;
}

.video-library-slider .slick-slide,
.video-library-slider .slick-slide[aria-hidden="true"]:not(.slick-cloned)~.slick-cloned[aria-hidden="true"] {
    transform: scale(0.8, 0.8);
    transition: all 0.4s ease-in-out;
}

/* Active center slide (You can change anything here for cenetr slide)*/
.video-library-slider .slick-center,
.video-library-slider .slick-slide[aria-hidden="true"]:not([tabindex="-1"])+.slick-cloned[aria-hidden="true"] {
    transform: scale(1.1);

}

.video-library-slider .slick-current.slick-active {
    transform: scale(1);

}

.slick-next,
.slick-prev {
    z-index: 5;
}

.slick-next {
    right: 15px;
}

.slick-prev {
    left: 15px;
}

.slick-next:before,
.slick-prev:before {
    color: #000;
    font-size: 26px;
}


.strengths-awinsa { margin-bottom: 70px;

    .strengths-he { margin-bottom: 55px;
        h2 {
            @include h2-tag
        }
    }
    .strengths-box-section { overflow: hidden;border-radius: 20px 20px 20px 20px;cursor: pointer; height: 100%;
        &:hover {
            .strengths-box-contant {border-radius:0 ;}
        }
        &:hover {
            .strengths-box {border-radius:0 ;}
        }
        .strengths-box {
        border: 1px solid #CCCCCC;border-radius: 20px 20px 20px 20px; padding: 20px;position: relative;
        z-index: 99; background-color: #fff;
        &:hover {border-radius: 20px 20px 0px 0px;}
        .strengths-box-img { position: relative; width: fit-content;
            img {max-height: 62px;}
              &:after {content: "";position: absolute;background-color: #505085;width: 90%;height: 4px;
                left: 0; bottom: -20px;
              }
        }

        h3 {
            margin-top: 30px; font-size: 18px; color: #3C3C3B; line-height: 29px; font-weight: 500; min-height: 30px;
        }
    }

        .strengths-box-contant { background-color: #505085;  position: relative;z-index: 0;
            margin-top: 0;transition: all 0.5s; border-radius: 0px; height: 0;padding: 0px 25px;
            &:hover {border-radius:0px;}
             ul {     width: 100%;display: block;
 
                li { font-size: 14px; line-height: 22px; color: #FFFFFF; margin-bottom: 5px; position: relative;
                     &:after { content: ''; background-image: url('../images/li-arow.png'); width: 8px; height: 9px;
                    position: absolute;left: -13px;top: 11px; }
                }
             }
        }

        &:hover {
            .strengths-box-contant {
                margin-top: 0px; transition: all 0.5s; height: 100%;padding: 15px 25px;
            }
        }
      
    }
}

.country-detail {height: 100%;}
.close-button {position: absolute; right: 11px; top: 14px; z-index: 999999;}
.video-detail img {max-width: 100%; width: 100%;}
.country-addres {    display: flex; align-items: center; height: 100%;}
.ham-menu-list ul {display: block!important;}
.social-media ul {display: flex!important;}
.social-media ul li { list-style: none; margin: 0; border: none; border-radius: 0; transition: all 0.5s;
    display: flex; justify-content: start; align-items: self-start;    height: auto;color: #ffffff;
    font-size: 20px;  outline: none; text-decoration: none; padding: 0;}
.social-media {margin-top: 30px;}
.social-media ul li a {padding: 0 6px;}
.social-media ul .follow-us {padding-right: 15px;}
.social-media ul li:hover {
    background-color: transparent;
    border: none;
    border-radius: 4px;
    transition: none;
    padding-left: 0;}
//responsive


@media screen and (min-width: 1299px) {
    .who-we-are .who-we-contant .who-p-contant {    margin-left: -112px;}

}
@media screen and (max-width: 1299px) {
    .video-slider-rotate-dv {height: 100%!important;}
    .our-services .our-services-tabing .tab-width { width: 30%;}
 
    .upper-footer .up-footer-1 .ro-text a { font-size: 20px;}
    .video-detail img {max-width: 100%;}
    .video-library .video-library-slider { margin: 0 10px;  margin-top: 40px; }
    
    }
    
@media screen and (max-width: 1199px) {
.video-slider-rotate-dv {height: 100%!important;}
.our-services .our-services-tabing .tab-width { width: 30%;}
.our-services { padding: 70px 0;}
.upper-footer .up-footer-1 .ro-text a { font-size: 20px;}
.video-detail img {max-width: 100%;}
.video-library .video-library-slider { margin: 0 10px;  margin-top: 40px; }
.fixed-navigation { width: 60%;}


}


@media screen and (max-width: 1024px) {
.head-nav-items-dv {justify-content: end;
    ul { display: none; }
}
.video-slider-content-prnt-dv h1 { font-size: 45px;}
.video-slider-rotate-dv { height:100% !important;}
.our-services .our-services-tabing .tab-content {width: 70%;}
.our-services .our-services-tabing .tab-width { width: 30%; padding-right: 5px;}
.our-services .our-services-tabing .tab-width .slider-2 .nav-link {  font-size: 14px;}
.our-services .our-services-tabing .tab-content .tabing-section .tabing-contant p { font-size: 13px; margin-bottom: 5px;}
.our-services .our-services-tabing .tab-content .tabing-section .tabing-img:after {height: 90.1%; right: 12px;}
.our-services .our-services-tabing .tab-content .tabing-section .tabing-contant a { font-size: 14px;}
.our-services {padding: 66px 0;}
.strengths-awinsa .strengths-box-section .strengths-box h3 {font-size: 16px;line-height: 21px;}
.strengths-awinsa .strengths-box-section .strengths-box-contant ul li { font-size: 13px;  line-height: 20px;}
.strengths-awinsa .strengths-box-section:hover .strengths-box-contant {padding: 25px 19px;}
.expertise-count-sec .counter-items-prnt-dv h6 {  font-size: 28px; padding: 30px 0px 5px 0px;}
.expertise-count-sec .counter-items-prnt-dv p { font-size: 16px;}
.counter-item-dv img {width: 70px;}
.expertise-count-sec .counter-items-prnt-dv {padding-top: 48px;}
.expertise-count-sec {padding: 58px 0px;}
.expertise-count-sec {height: 100%;}
.testimonial .testimonial-slider .testimonial-contant p {font-size: 16px;}
.video-library-slider .slick-slide {transform: scale(1);}
.video-library .video-library-slider .slick-next {  right: -20px;}
.video-library .video-library-slider .slick-prev { left: -20px;}
.upper-footer .up-footer-1 .ro-text p {  font-size: 20px;}
.upper-footer .up-footer-1 .ro-text a { font-size: 15px;}
.upper-footer .up-footer-1 .img-ro {width: 86px; height: 66px;background-size: contain;}
.testimonial {}

.search-icon span { font-size: 13px;}
.search { top: 25px; left: 36%;   width: 100%; height: 100%;  bottom: 0; margin: auto;}
.trigger { padding: 7px 4px; font-size: 9px;display: flex;}
.hole-mwnu { display: flex;   align-items: center; height: 100%;  }

.header-logo-dv img { max-width: 100%;}
.head-nav-up {display: block;  display: flex;justify-content: flex-end;margin-bottom: 0;}
.search-icon {  width: 85px;}
.head-nav-up .regions span {  font-size: 11px;}
.search-icon span { font-size: 13px;}
.navbar-nav .dropdown-menu {
    position: absolute;
    inset: 0px auto auto 0px;
    top: 0;
    width: 100%;
    padding: 20px !important;
    transform: translate3d(230px, 10px, 0px) !important;
    background-color: #f4f4f4;
    border: none;
    height: 186px;
}
.country-name img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
}

.country-detail ul li {margin-bottom: 5px;}
.country-name {display: flex;}
.menu-modal-content .navbar-nav li a { padding: 5px 0;}
.menu-modal-content { top: 20%;  height: 200px;}
.fixed-navigation { width: 65%;}
.search__field {    height: 30px;}
.full-navigation.active { box-shadow: 0 0 0 50vw #4d5168, 0 0 0 120vh #4d5168;}
}



@media screen and (max-width: 767px) {
    .video-library .video-library-slider .slick-prev { left: -34px; }
    .strengths-awinsa .strengths-box-section .strengths-box h3 {font-size: 18px; line-height: 24px;}
    .video-slider-rotate-dv { height: 100% !important;}
    .video-slider-rotate-dv .slick-dots {bottom: 34px; left: 42px;    }
    .who-we-are .who-we-contant .who-p-contant p { font-size: 14px;   line-height: 18px;    }
    .col-xs-6 {
        width: 48% !important;
        display: inline-block;
    }

    .head-nav-up {
        display: none;
    }

    .head-nav-items-dv {
        ul {
            display: none;
        }
    }

    .video-slider-content-prnt-dv {
        h1 {
            font-size: 30px;
        }
    }

    .who-we-are {
        .who-we-contant {
            .who-p-contant {
                margin-left: 0;
            }
        }
    }

    .our-services-tabing {
        .d-flex {
            flex-direction: column;
        }
    }


    .testimonial {
        .testimonial-slider {
            width: 90%;
            padding: 20px;
        }
    }

    .our-services {

        .our-services-tabing {
            .d-flex {
                flex-direction: column;
            }
            .tab-width {
                width: 100%;margin-right: 0rem !important;
            }
            .tab-content {
                width: 100%;

                .tabing-section {position: relative;margin-top: 63px;
                  .tabing-img {
                     &:after {width: 94%;top: 16px; height: 85%;right: 2px;}
                  }
                  .tabing-contant {right: 0; width: 90%; bottom: 17px; 
                    p {font-size: 10px; margin-bottom: 0;}
                    a {font-size: 10px;
                        img {    width: 10px;}
                    }
                }
                }
            }
        }
    }

    .news {
      .news-outer-slider-div {
        .slick-next {
            &:after {
                width: 18px; height: 18px; background-size: contain; background-repeat: no-repeat; right: 2px;
            }
        }

        .slick-prev {
            &:after {
                width: 18px; height: 18px; background-size: contain; background-repeat: no-repeat; left: 2px;
            }
        }

      }
    }
    .strengths-awinsa {
        .strengths-he {text-align: center; margin-bottom: 30px;}
    }

    .strengths-awinsa {
        .col-lg-4 {
            .strengths-box-contant {margin-bottom: 30px;
               
            }
            &:last-child {
                .strengths-box-contant { margin-bottom: 0;} 
            }
            
        }
        .strengths-box-section {
         
        }
    }

    .expertise-count-sec  {    height: 100%;
        .counter-items-prnt-dv {
         flex-wrap: wrap;
        }
    }

    .expertise-count-sec {
        .counter-items-prnt-dv {
            .counter-item-dv {width:27%; text-align: center; margin-bottom: 20px;
             h6 {font-size: 28px;padding: 10px 0px 5px 0px;}
             p {font-size: 15px;}
            }
        }
    }

.video-library #kaurukavideo .lazy-v iframe {margin-top: 50px;height: 100%; width: 100%;}
.testimonial .testimonial-slider .testimonial-contant p {font-size: 15px; }
footer .footer-col .address-content { font-size: 15px; }
.copyright .copyright-text {text-align: left; }
.upper-footer .up-footer-1 .ro-text p {  font-size: 13px;}
.upper-footer .up-footer-1 .ro-text a { font-size:12px;}
.upper-footer .up-footer-1 .img-ro { background-image: url(../images/Path-204.svg);      width: 55px;
    height: 42px; background-size: contain;background-repeat: no-repeat; margin-right: 5px;}
.up-footer-1 img {margin: 0px 0;width: 25px;}
.our-services .our-services-tabing .tab-width .slider-2 .nav-link { width: 53% !important;}
.video-detail img {text-align: center; margin: auto;}
.expertise-count-sec .counter-heading h2 {text-align: center;}
.footer-logo img {    width: 120px;}
.upper-footer .up-footer-1 .ro-text {margin-left: 5px;}
.banner-video-sec .slick-dots {bottom: 40px; left: 38px;}
.our-services .our-services-tabing .tab-content .tabing-section .tabing-img:after {
    width: 94%;top: 18px; height: 90%;right: 14px;}
    .search-icon span { font-size: 13px;}
    .search { top: 25px; left: 36%;   width: 100%; height: 100%;  bottom: 0; margin: auto;}
    .trigger { padding: 7px 4px; font-size: 9px;display: flex;}
    .hole-mwnu { display: flex;   align-items: center; height: 100%;  }
    .header-sec .col-xs-3 { width: 30%!important;}
    .header-sec .col-xs-6 { width: 70%!important;}
    .header-logo-dv img { max-width: 100%;}
    .head-nav-up {display: block;  display: flex;justify-content: flex-end;margin-bottom: 0;}
    .search-icon {  width: 85px;}
    .head-nav-up .regions span {  font-size: 11px;}
    .search-icon span { font-size: 13px;}
    .navbar-nav .dropdown-menu {
        position: absolute;
        inset: 0px auto auto 0px;
        top: 0;
        width: 100%;
        padding: 20px !important;
        transform: translate3d(230px, 10px, 0px) !important;
        background-color: #f4f4f4;
        border: none;
        height: 186px;
    }
    .country-name img {
        width: 50px;
        height: 50px;
        margin-left: 10px;
    }

    .country-detail ul li {margin-bottom: 5px;}
    .country-name {display: flex;}
    .menu-modal-content .navbar-nav li a { padding: 5px 0;}
    .menu-modal-content { top: 20%;  height: 200px;}
    .ham-menu .col-xs-6 {width: 48%!important;}
    footer .footer-col ul li a {  font-size: 16px;}
    .header-sec .col-xs-3 { width: 30%!important;}
.view-all {margin-top: 20px;}
.full-navigation.active { box-shadow: 0 0 0 73vw #4d5168, 0 0 0 200vh #4d5168;}
.fixed-navigation { width: 88%;}
.ham-menu-list ul li a {font-size: 13px;}
.ham-menu-list ul li {    height: 25px;}
.fixed-navigation .menu-head { padding: 1rem 0;}
.search__field {    height: 30px;}
.who-we-are .who-we-img:before {width: 114px; height: 141px;  top: -6px;}

}




@media screen and (max-width: 575px) {
.video-slider-rotate-dv { height: 100%!important;}
.col-xs-6 { width: 48% !important; display: inline-block; }
.footer-col {margin-bottom: 15px;}
 

    .video-slider-content-prnt-dv {
        h1 {
            font-size: 23px;
        }
    }

    .who-we-are {
        .who-we-contant {
            .who-p-contant {
                margin-left: 0;
            }
        }
    }

    .our-services-tabing {
        .d-flex {
            flex-direction: column;
        }
    }


    .testimonial {
        .testimonial-slider {
            width: 90%;
            padding: 20px;
        }
    }

    .our-services {

        .our-services-tabing {
            .d-flex {
                flex-direction: column;
            }
            .tab-width {
                width: 100%;margin-right: 0rem !important;
            }
            .tab-content {
                width: 100%;

                .tabing-section {position: relative;margin-top: 63px;
                  .tabing-img {
                     &:after {    width: 94%;
                        top: 0;
                        height: 91%;
                        right: 0px;
                        max-width: 94%;
                        margin: 3px;
                    }
                  }
                  .tabing-contant {right: 0; width: 90%; bottom: 40px; 
                    p {font-size: 10px; margin-bottom: 0;}
                    a {font-size: 10px;
                        img {    width: 10px;}
                    }
                }
                }
            }
        }
    }

    .news {
      .news-outer-slider-div {
        .slick-next {
            &:after {
                width: 18px; height: 18px; background-size: contain; background-repeat: no-repeat; right: 2px;
            }
        }

        .slick-prev {
            &:after {
                width: 18px; height: 18px; background-size: contain; background-repeat: no-repeat; left: 2px;
            }
        }

      }
    }
    .strengths-awinsa {
        .strengths-he {text-align: center; margin-bottom: 20px;}
    }

    .strengths-awinsa {
        .col-lg-4 {
            .strengths-box-contant {margin-bottom: 30px;
               
            }
            &:last-child {
                .strengths-box-contant { margin-bottom: 0;} 
            }
            
        }
        .strengths-box-section {
         
        }
    }

    .expertise-count-sec  {    height: 100%;
        .counter-items-prnt-dv {
         flex-wrap: wrap;
        }
    }

    .expertise-count-sec {
        .counter-items-prnt-dv {
            .counter-item-dv {width: 45%; text-align: center; margin-bottom: 20px;
             h6 {font-size: 28px;padding: 10px 0px 5px 0px;}
             p {font-size: 15px;}
            }
        }
    }

.video-library #kaurukavideo .lazy-v iframe {margin-top: 50px;height: 100%; width: 100%;}
.testimonial .testimonial-slider .testimonial-contant p {font-size: 15px; }
footer .footer-col .address-content { font-size: 15px; }
.copyright .copyright-text {text-align: left; }
.upper-footer .up-footer-1 .ro-text p {  font-size: 16px;}
.upper-footer .up-footer-1 .ro-text a { font-size: 20px;}
.upper-footer .up-footer-1 .img-ro { background-image: url(../images/Path-204.svg);  width: 70px;height: 70px;
    background-color: #6da1cc; margin: 10px 0;}
.up-footer-1 img {margin: 15px 0;}
.our-services .our-services-tabing .tab-width .slider-2 .nav-link { width: 53% !important;}
.video-detail img {text-align: center; margin: auto;}
.expertise-count-sec .counter-heading h2 {text-align: center;}
.ham-menu-list ul {display: block;}
.fixed-navigation { width: 100%;}
.search-icon span { font-size: 13px;}
.search { top: 25px; left: 36%;   width: 100%; height: 100%;  bottom: 0; margin: auto;}
.trigger { padding: 7px 4px; font-size: 9px;display: flex;}
.hole-mwnu { display: flex;   align-items: center; height: 100%;  }
.header-sec .col-xs-3 { width: 30%!important;}
.header-sec .col-xs-6 { width: 70%!important;}
.header-logo-dv img { max-width: 100%;}
.head-nav-up {display: block;  display: flex;justify-content: flex-end;margin-bottom: 0;}
.search-icon {  width: 85px;}
.head-nav-up .regions span {  font-size: 11px;}
.search-icon span { font-size: 13px;}
.navbar-nav .dropdown-menu {
    position: absolute;
    inset: 0px auto auto 0px;
    top: 0;
    width: 99%;
    padding: 20px !important;
    transform: translate3d(2px, 228px, 0px) !important;
    background-color: #f4f4f4;
    border: none;
    height: 280px;
}
.country-name img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
}
.navbar-nav .dropdown-menu {    height: 200px; top: -25px;}
.country-detail ul li {margin-bottom: 5px;}
.country-name {display: flex;}
.menu-modal-content .navbar-nav li a { padding: 5px 0;}
.menu-modal-content { top: 20%;  height: 200px;}
.ham-menu .col-xs-6 {width: 48%!important;}
.ham-menu-list ul li a {font-size: 12px;}
.ham-menu-list ul li {height: auto; margin-bottom: 8px;}
.ham-menu-list h3 {font-size: 16px;}
.fixed-navigation .menu-head {  padding: 1rem 0;}
body .know-more-btn {adding: 0 10px 0 19px; font-size: 14px;}
body .know-more-btn span {height: 40px;}
.news {padding-bottom: 50px;}
.video-library-slider .slick-current.slick-active {transform: scale(.9);}
.video-library .video-library-slider .slick-prev { left: -20px;}
.video-library .video-library-slider .slick-next { right: -12px;}
.our-services-heading {margin-bottom: 41px;}
.search__field {height: 30px;}
// .header-sec .col-xs-6 {    width: 50% !important;}
}

@media screen and (max-width: 400px) {

    .video-slider-rotate-dv {   height: 88vh !important;}
}
