<section class="home-banner">
  <div class="banner-slider">
    <div class="slick-slideshow__slide">
      <img class="banner-desktop" src="assets/images/sugar-plant.jpg" alt="" />
      <img
        class="banner-mob"
        src="assets/images/sugar-plant-mobile.jpg"
        alt=""
      />
    </div>
    <div class="slick-slideshow__slide">
      <img
        class="banner-desktop"
        src="assets/images/steel-industry.jpg"
        alt=""
      />
      <img
        class="banner-mob"
        src="assets/images/steel-industry-mobile.jpg"
        alt=""
      />
    </div>
  </div>
  <div class="container">
    <div id="counter">
      <span class="counter"></span>
      <span> - cement /</span>
      <span class="number"></span>
    </div>
  </div>
</section>