---
interface Props {
  slider_images?: Array<{
    desktop_image?: string;
    mobile_image?: string;
  }>;
  counter_text?: string;
}

const { slider_images, counter_text } = Astro.props;

const defaultSlides = [
  {
    desktop_image: "/assets/images/sugar-plant.jpg",
    mobile_image: "/assets/images/sugar-plant-mobile.jpg"
  },
  {
    desktop_image: "/assets/images/steel-industry.jpg",
    mobile_image: "/assets/images/steel-industry-mobile.jpg"
  }
];

const slides = (slider_images && slider_images.length > 0) ? slider_images : defaultSlides;
const displayCounterText = counter_text || "cement";
---

<section class="home-banner">
  <div class="banner-slider">
    {slides.map((slide) => (
      <div class="slick-slideshow__slide">
        <img class="banner-desktop" src={slide.desktop_image} alt="" />
        <img class="banner-mob" src={slide.mobile_image || slide.desktop_image} alt="" />
      </div>
    ))}
  </div>
  <div class="container">
    <div id="counter">
      <span class="counter"></span>
      <span> - {displayCounterText} /</span>
      <span class="number"></span>
    </div>
  </div>
</section>