body {outline: none;   background-size: cover; background-position: 100% 100%; overflow-x: hidden; font-family: 'ProximaNova';}
* { outline: none;}
html, body {overflow-x: hidden;}

@mixin a-tag { outline: none; text-decoration: none; cursor: pointer;}
@mixin h1-tag { font-size: $myh1; color: $myh1-color; font-weight: bold;
    @media (max-width: 1199px) {font-size:36px; }
    @media (max-width: 1024px) {font-size:32px; } 
    @media (max-width: 990px) {font-size:30px; } 
    @media (max-width: 767px) {font-size:28px; } 
}
@mixin h2-tag { font-size: 45px; color: #202020;
    @media (max-width: 990px) {font-size:26px; } 
    @media (max-width: 767px) {font-size:22px; }  
     
   }
@mixin h3-tag { font-size: 45px; color: #202020;
    @media (max-width: 1199px) {font-size:24px; }
    @media (max-width: 1024px) {font-size:22px; }
    @media (max-width: 990px) {font-size:20px; } 
    @media (max-width: 767px) {font-size:20px; }  
   
}
@mixin h4-tag { font-size: 20px; color: #202020;
    @media (max-width: 1024px) {font-size:18px; } 
    @media (max-width: 990px) {font-size:16px; }
    @media (max-width: 767px) {font-size:16px; }  

}
@mixin h5-tag { font-size: 18px; color: #202020;
    @media (max-width: 1024px) {font-size:17px; } 
    @media (max-width: 990px) {font-size:16px; }
    @media (max-width: 767px) {font-size:15px; }  

}
@mixin p-tag { font-size: 18px; color: #202020; text-align: justify;
    @media (max-width: 1024px) {font-size:18px; } 
    @media (max-width: 990px) {font-size:17px; } 
    @media (max-width: 767px) {font-size:16px; line-height:25px ;}  
}
@mixin after-before {position: absolute; content: ''}
@mixin section-padding {padding: 60px 0;
    @media (max-width: 1199px) {padding: 50px 0; }
    @media (max-width: 1024px) {padding: 50px 0; }
    @media (max-width: 990px) {padding: 40px 0; } 
    @media (max-width: 767px) {padding: 30px 0; }  
}
@mixin inner-banner-padding {padding: 100px 0; padding-top: 200px;
    @media (max-width: 1199px) {padding: 80px 0;padding-top: 150px; }
    @media (max-width: 1024px) {padding: 80px 0; padding-top: 150px;}
    @media (max-width: 990px) {padding: 60px 0; padding-top: 150px;} 
    @media (max-width: 767px) {padding: 40px 0; padding-top: 100px;}  
}
@mixin align-center {display: flex; align-items: center;height: 100%}
@mixin all-center {display: flex; align-items: center;height: 100%; justify-content: center;}
@mixin center-button {width: fit-content;margin: auto;margin-top: 60px;}

:root {
    --text-black : #231F20;
    --bg-grey: #F2F3F6;
    --bg-white: #fff;
    --bg-primary: #004BD8;
    --bg-danger: #BD3455;
    --bg-danger-second: #D61363;
    --btn-hover: #9a2f49;
    scroll-behavior: smooth;
}


@mixin a-tag {
    outline: none;
    text-decoration: none !important;
    cursor: pointer;
}

@mixin ul-tag {
    padding: 0 !important;
    display: flex;
    margin: 0 !important;
}

@mixin li-tag {
    list-style: none;
}

a {
    @include a-tag;
}

ul {
    @include ul-tag;
}

li {
    @include li-tag;
}
p {text-align: justify;}

