---
interface Props {
  title: string;
  description?: string;
}

const {
  title,
  description = ''
} = Astro.props;

import { ClientRouter } from "astro:transitions";
---
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />

  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0"
  />

  <title>{title}</title>

  <meta
    name="description"
    content={description}
  />

  <meta
    name="robots"
    content="noindex, nofollow"
  />

  <link
    rel="stylesheet"
    href="https://www.tangence.in/font/stylesheet.css"
  />

  <link
    rel="stylesheet"
    href="/performance-marketing/assets/css/font-awesome.min.css"
  />

  <link
    rel="stylesheet"
    href="/css/new-lp-page.css"
  />

  <!-- GTM -->
  <script is:inline>
    (function(w,d,s,l,i){`{`}
      w[l]=w[l]||[];
      w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});
      var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),
      dl=l!='dataLayer'?'&l='+l:'';

      j.async=true;
      j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;

      f.parentNode.insertBefore(j,f);

    {`}`})(window,document,'script','dataLayer','GTM-5JB8RQ4');
  </script>

  <!-- Meta Pixel -->
  <script is:inline>
    !function(f,b,e,v,n,t,s)
    {`{`}
      if(f.fbq)return;
      n=f.fbq=function(){`{`}
        n.callMethod
        ? n.callMethod.apply(n,arguments)
        : n.queue.push(arguments);
      {`}`};

      if(!f._fbq)f._fbq=n;

      n.push=n;
      n.loaded=!0;
      n.version='2.0';
      n.queue=[];

      t=b.createElement(e);
      t.async=!0;
      t.src=v;

      s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s);

    {`}`}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');

    fbq('init', '841811033787711');
    fbq('track', 'PageView');
  </script>
<ClientRouter />
</head>

<body>

  <!-- GTM Noscript -->

  <noscript>
    <iframe
      src="https://www.googletagmanager.com/ns.html?id=GTM-5JB8RQ4"
      height="0"
      width="0"
      style="display:none;visibility:hidden"
    ></iframe>
  </noscript>

  <!-- Meta Pixel Noscript -->

  <noscript>
    <img
      height="1"
      width="1"
      style="display:none"
      src="https://www.facebook.com/tr?id=841811033787711&ev=PageView&noscript=1"
      alt=""
    />
  </noscript>

  <slot />

  <script is:inline src="/js/new-lp-page.js"></script>

</body>

</html>